default:
  context:
    class:  'InheritedFeatureContext'
  extensions:
    Behat\MinkExtension\Extension:
      base_url:  'http://en.wikipedia.org/'
      selenium2:
        browser: chrome
        wd_host: selenium:4444
      goutte: ~

# No context:
no_context:
  paths:
    bootstrap: 'NON_EXISTING_FOLDER'
  filters:
    tags:      '~@javascript'

